*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    font-size: 16px;
    font-weight: 400;
}
/* General style */
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
li {
    list-style: none;
}
.primary-color{
    color: #737272;
}
.color-white{
    color: #ffffff;
}
.main-container{
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
    margin-bottom: 25px;
}
.portfolio-button{
    width: 160px;
    height: 60px;
    margin-top: 30px;
    margin-left: auto;
    border-radius: 4px;
    text-align: center;
    line-height: 3;
}
.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.w-50 {
    width: 50%;
}
.display-flex{
    display: flex;
}
/* Banner */
.banner{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
.banner-content {
    max-width: 525px;
    margin-left: auto;
    text-align: right;
    padding-top: 70px;
}
.banner-content h2,
.banner-content p{
    color: #ffffff;
}
.banner-content h2 {
    font-size: 65px;
    margin-bottom: 24px;
}
.banner .portfolio-button{
    background-color: #ffffff;
}
.banner .button{
    color: #005FAC;
}

/* Failure section */
.failure-content {
    /* display: flex; */
    justify-content: center;
    padding: 30px 0;
}

.failure-content-image img {
    width: 100%;
}

.failure-content-image {
    padding-right: 85px;
}
.failure-content-txt {
    transform: translateY(200px);
}

.failure-content-txt p,
.failure-content-txt li{
    color: #444343;
}
.failure-content-txt li {
    list-style: none;
    line-height: 26px;
}

/* My plans */
.my-plan{
    padding: 50px 0;
}
.my-plan-content {
    /* display: flex; */
    justify-content: space-between;
}
.my-plan-card img {
    width: 90px;
    height: 90px;
}

.my-plan-card h3 {
    font-size: 30px;
    margin: 15px 0;
}

.my-plan-card p {
    font-size: 20px;
    color: #737272;
}
.gradiant-image img {
    width: 100%;
    padding: 50px 0;
}

/* Footer */

.footer {
    background-color: #151414;
    padding: 100px 0;
}
.footer h2,
.footer h3,
.footer h4,
.footer p{
    color: #ffffff;
}
.footer-text h3 {
    font-size: 40px;
    margin-bottom: 15px;
}

.footer-text p {
    line-height: 26px;
}
.contact-info{
    padding: 15px 0 20px;
}
.footer ul li {
    padding-right: 15px;
}
.footer ul li {
    padding-right: 15px;
}

.footer-text {
    width: 45%;
    margin-right: 20%;
}
.footer-newsleter h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.input-form {
    width: 325px;
    height: 25px;
    padding: 15px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #ffffff;
}
.input-form::placeholder {
    color: #ffffff;
  }
  form .button {
    background-color: #005FAC;
    color: #ffffff;
    padding: 18px 30px;
    width: 170px;
    border-radius: 8px;
}